
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      display: flex;
  }
  
  header {
      width: 100%;
      background-color: #900c3f;
  }
  
  header h1{
      color: #ffffff;
  }
  
  nav {
      background-color: #f4f4f4; /* Materia theme primary color */
      color: #ffffff;
      text-align:. center;
      padding: 2em;
      height: 100vh; /* Make the sidebar full height */
  }
  
  nav a {
      background-color: #900c3f;
      color: #ffffff;
      text-decoration: none;
      margin: 0.5em 0;
  }
  
  main {
      background-color: #f4f4f4;
      padding: 1em;
  }
  
  footer {
      color: #ffffff;
      background-color: #900c3f;
      text-align: center;
      padding: 1em;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
  
  footer {
      color: #ffffff;
      text-align: center;
      padding: 1em;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
  
  .list-group-item.categories {
      background-color: #900c3f;
      opacity: .9;
      color: #ffffff;
      padding: .5em .5em;
      margin: .5em;
      border-top-right-radius: 20px!important;
      /*border-bottom-right-radius: 15px!important;*/
      /*border-top-left-radius: 15px!important;*/
      border-bottom-left-radius: 20px!important;
  }
  
  .bi-exclamation-triangle {
      font-size: 1.5rem;
  }
  
  .alert {
      margin-bottom: 0px;
      padding: 0em;
  }
  
  .pagination .page-link{
      opacity: 0.8;
      background-color: #900c3f;
  }
  
  .pagination  .disabled .page-link{
      opacity: 0.2;
      background-color: #900c3f;
  }
  
  .well {
      padding-left: .25em;
      padding-right: 1.25em;
      padding-bottom: .75em;
      padding-top: .75em;
      background-color: #E7E7E7;
  }
  
  .card-img-overlay .card-title .myspan{
    color: #900c3f;
    background-color: #f4f4f433;  
    border-radius: 6px 6px 6px 6px;
  }
  
  .localisation_map {
    height: 250px;
  }

